body {
 background-color: rgba(0, 0, 0, 0.1);
 font-family: 'Raleway', sans-serif;
  color: #0D0A0B;
}

img {
  width: 500px;
  border-radius: 20px;
}

ul {
  list-style-type: none;
  display: inline-block;
}

.card {
  box-shadow: 0px 6px rgba(166, 161, 94, 0.1);
  border-radius: 10px;
  padding: 20px;
  margin: 30px;
  background-color: #F3EFF5;
  text-align: center;
}

.card-1{
  box-shadow: 0px 6px rgba(166, 161, 94, 0.1);
  border-radius: 10px;
  padding: 20px;
  margin: 30px;
  background-color: #F3EFF5;
  text-align: center;
}

.card-2{
  box-shadow: 0px 6px rgba(166, 161, 94, 0.1);
  border-radius: 10px;
  padding: 20px;
  margin: 30px;
  background-color: #F3EFF5;
  text-align: center;
}

.card-3{
box-shadow: 0px 6px rgba(166, 161, 94, 0.1);
  border-radius: 10px;
  padding: 20px;
  margin: 30px;
  background-color: #F3EFF5;
  text-align: center;
}

.sm-icon{
  font-size: 35px
}

@media (max-width: 960px) {
  .body {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .body {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .body {
    width: 300px;
  }
}
